/*
    hoja de estilo
Creadora: Ãngela
Noviembre 2020
*/
h1{
    background-color: white;
    border:dotted grey;
    border-radius: 40px;
    text-align: center;
    padding: 20px;
    
}
b{
    color: white;
}
html {
    background-color: rebeccapurple;
}

p{
    color: white;
    text-align: center;
}
ol{
    color: white;
    text-align:left;
    width: 60%;
    display: block;
    margin: auto;
}
main>img{
    width: 40%;
    margin: auto;
    border: 3px solid white;
    display: block;    
}
footer{
    position:fixed;
    bottom:0px;
    width: 97%;
    background:white;
    color:black;
    padding: 8px;
    border:dotted grey;
    text-align: center;
    border-radius: 40px;
}
img{
    transition: all 0.5s ease;
}
img:hover{
    transform: rotate(-10deg);
    /*transform: scale (0.6);*/  
    border: 5px solid black;
}
